@charset "UTF-8";

/* ----------------------------------------------------------------------------------    */

/* _atomes.scss  (matière première : couleurs/typographie/espaces)         	             */

/* ----------------------------------------------------------------------------------    */



/* -----COULEURS-----*/
$primary-color-text: hsl(44, 97%, 63%) ;
$primary-color-background:  hsl(162, 28%, 48%);
$primary-color-dark: red;
$secondary-color: hsl(0, 0%, 100%);

$lanoteenchantee__background: hsl(7, 85%, 93%);
$lanoteenchantee__text: hsl(351, 53%, 16%);

$lechicalafrancaise__background: hsl(306, 67%, 92%);
$lechicalafrancaise__text--1: hsl(33, 84%, 42%);
$lechicalafrancaise__text--2: hsl(312, 25%, 53%);
$lechicalafrancaise__text--3: hsl(256, 56%, 55%);
/*Gradient text:
- orange: hsl(34, 84%, 48%)
- blue : hsl(259, 99%, 68%)*/

$ledelicedespapilles__backrgound: hsl(180, 6%, 93%);
$ledelicedespapilles__text--1: hsl(231, 100%, 43%); /*navy*/
$ledelicedespapilles__text--2: hsl(231, 100%, 43%); /*navy*/
$ledelicedespapilles__text--3: hsl(206, 95%, 56%); /*artic*/
/*Gradient bright color: hsl(208, 97%, 51%)*/

$lapalettedugout__background: hsl(120, 100%, 100%);
$lapalettedugout__text--1: hsl(118, 43%, 40%); /*emerald color*/
$lapalettedugout__text--2: hsl(90, 100%, 75%); /* lime bright*/
$lapalettedugout__text--0-5: hsl(101, 51%, 58%); /*transition color*/


/* -----TYPOGRAPHIE-----*/
$primary-typo: "Montserrat", sans-serif;

$lanoteenchantee__typo: "Devonshire", cursive, sans-serif;
$lanoteenchantee__typo--secondary: "Itim", cursive, sans-serif;

$lechicalafrancaise__typo: "Kurale", cursive, sans-serif;
$lechicalafrancaise__typo--secondary: "Abril Fatface", sans-serif;;

$ledelicedespapilles__typo: "Dancing Script", cursive; 
$ledelicedespapilles__typo--secondary: "Chilanka", sans-serif;

$lapalettedugout__typo: "Kaushan Script", cursive, sans-serif;
$lapalettedugout__typo--secondary: "Chilanka", sans-serif;

/*---MAPS---*/

$txt-color-chic: (
    1: $lechicalafrancaise__text--1,
    2: $lechicalafrancaise__text--2,
    3: $lechicalafrancaise__text--3,
);

$bg-color: (
    1: $lanoteenchantee__background,
    2: $lechicalafrancaise__background,
    3: $ledelicedespapilles__backrgound,
    4: $lapalettedugout__background
);
$title-typo:(
    1: $lanoteenchantee__typo,
    2: $lechicalafrancaise__typo,
    3: $ledelicedespapilles__typo,
    4: $lapalettedugout__typo
);

$txt-typo:(
    1: $lanoteenchantee__typo--secondary,
    2: $lechicalafrancaise__typo--secondary,
    3: $ledelicedespapilles__typo--secondary,
    4: $lapalettedugout__typo--secondary
);

@mixin menu($number){
    background-color: map-get($bg-color, $number);
    font-family: map-get($title-typo, $number );
}


/* -----ESPACES ECRANS MOYEN ET GRANDS ECRANS-----*/
$marge-int-gauche-md: 0rem;
$marge-int-droite-md: 0rem;
$marge-int-haut-md: 0rem;
$marge-int-bas-md: 0rem;

@mixin marges-int-horizontales-md {
    padding-left: $marge-int-gauche-md;
    padding-right: $marge-int-droite-md;
}


@mixin marges-int-verticales-md {
    padding-top: $marge-int-haut-md;
    padding-bottom: $marge-int-bas-md;
}


/* -----ESPACES MOBILES ET TABLETTES-----*/
$marge-int-gauche-sm: 0rem;
$marge-int-droite-sm: 0rem;
$marge-int-haut-sm: 0rem;
$marge-int-bas-sm: 0rem;

@mixin marges-int-horizontales-sm {
    padding-left: $marge-int-gauche-sm;
    padding-right: $marge-int-droite-sm;
}

@mixin marges-int-verticales-sm {
    padding-top: $marge-int-haut-sm;
    padding-bottom: $marge-int-bas-sm;
}

@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Ne pas oublier d'appeler la mixin dans les autres fichiers avec @include. exemple: div {@include marges-int-horizontales-md} */