@charset "UTF-8";

/* -------------------------------------------------*/

/* _commun.scss (styles communs a tous les peripheriques et toutes les pages. Ce qui vient en supplément des éléments génériques classiques comme les titres/boutons/liens/espaces qu'on retrouvera sur les fichiers atomes et molécules) */

/* -----GENERAL-----*/

@mixin bandeau-resolution {
    color: $primary-color-dark;
    width: 100%;
    display: block;
    text-align: center;
}

::selection {
    background: #000000; /* Webkit */
}
::-moz-selection {
    background: #000000; /* Firefox */
}
::-webkit-input-placeholder {
    color: #000000;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #000000;
}

/* quand on a oublié l'attribut 'alt' */
img:not([alt]) {
    border: 5px dashed red;
}

/* -----HEADER-----*/

.header{
    background: $primary-color-background;    
    padding: 5%;  
}

/* -----CONTENT-----*/

/*Page d'accueil*/

.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px grey;
}

.block__lanoteenchantee{
    @include menu(1);
    color: $lanoteenchantee__text;
    p{
        font-family: map-get($txt-typo, 1);
        font-style: italic;
    }
}

.block__lechicalafrancaise{
    @include menu(2);
    color: $lechicalafrancaise__text--1;
    p{
        font-family: map-get($txt-typo, 2);
    }
}

.block__ledelicedespapilles{
    @include menu(3);
    color: $ledelicedespapilles__text--1;
    p{
        font-family: map-get($txt-typo, 1);
        font-style: italic;
    }
}

.block__lapalettedugout{
    @include menu(4);
    color: $lapalettedugout__text--2;
    p{
        font-family: map-get($txt-typo, 1);
        font-style: italic;
    }
}

.btn{
    @include button-general;
}

/* page - lanoteenchantee*/

.menu{
    @include flex;
    div{
        display: flex;
        justify-content: space-between;
    }
    
}


.lanoteenchantee{
    @include section(1);
    color: $lanoteenchantee__text;
    h3{
    font-family: $lanoteenchantee__typo;
    font-size: 4rem;
    }
    .img{
    width: 30%;
    height: auto;
    object-fit: contain;
    margin: 0;
        &__foot{
            width: 2rem;
            height: auto;
        }
    }
    
}

.lechicalafrancaise{
    @include section(2);
    color: $lechicalafrancaise__text--1;
    h3{
    font-family: $lechicalafrancaise__typo;
    font-size: 4rem;
    }
    .img{
        width: 30%;
        height: auto;
        object-fit: contain;
        margin: 0;
    }
}




/* -----FOOTER-----*/

footer{
    background-color: $primary-color-background;
    color: $primary-color-text;
    font-family: $primary-typo;
    width: 3rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    a{
        color: inherit;
    }

}
