@charset "UTF-8";

/* -------------------------------------------------*/

/* _commun.scss (styles communs a tous les peripheriques et toutes les pages. Ce qui vient en supplément des éléments génériques classiques comme les titres/boutons/liens/espaces qu'on retrouvera sur les fichiers atomes et molécules) */

/* -----GENERAL-----*/

@mixin bandeau-resolution {
    color: $primary-color-dark;
    width: 100%;
    display: block;
    text-align: center;
}

::selection {
    background: #000000; /* Webkit */
}
::-moz-selection {
    background: #000000; /* Firefox */
}
::-webkit-input-placeholder {
    color: #000000;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #000000;
}

/* quand on a oublié l'attribut 'alt' */
img:not([alt]) {
    border: 5px dashed red;
}

/* -----HEADER-----*/

.header{
    @include primary-setting;  
    padding: 5%;  
}

/* -----CONTENT-----*/

/*Page d'accueil*/
.main-page{
    @include flex;
}

.block{
    @include flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px grey;
    opacity: 1;
    transition: opacity 400ms;
        &:hover {
            opacity: 0.7;
        }
    a{
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
            transform: scale(1.15);
        }
    }
    
}
.menu-page{
    h5{
        &:hover {
            &::after {
                transform: scaleX(1);
            }
        }
            &::after {
            content: "";
            border-bottom: solid 3px;
            height: 100%;
            width: 100%;
            display: block;
            transform: scaleX(0);
            transition: 1s;
            transform-origin: 0% 50%;
        }
    }
}
.block__lanoteenchantee{
    @include menu(1);
    color: $lanoteenchantee__text;
    p{
        font-family: map-get($menu-typo, 1);
        font-style: italic;
    }
}

.block__lechicalafrancaise{
    @include menu(2);
    color: $lechicalafrancaise__text--1;
    p{
        font-family: map-get($menu-typo, 2);
    }
}

.block__ledelicedespapilles{
    @include menu(3);
    color: $ledelicedespapilles__text--1;
    p{
        font-family: map-get($menu-typo, 1);
        font-style: italic;
    }
}

.block__lapalettedugout{
    @include menu(4);
    color: $lapalettedugout__text--2;
    p{
        font-family: map-get($menu-typo, 1);
        font-style: italic;
    }
}

.btn{
    @include button-general;
}

/* page - lanoteenchantee*/




.lanoteenchantee{
    @include menu-section(1);
    color: $lanoteenchantee__text;
    h3{
    font-family: $lanoteenchantee__typo;
    font-size: 4rem;
    }
    .img{
    width: 30%;
    height: auto;
    object-fit: contain;
    margin: 0;
        &__foot{
            width: 2rem;
            height: auto;
        }
    }
    
}

.lechicalafrancaise{
    @include menu-section(2);
    color: $lechicalafrancaise__text--1;
    .menu{
        &__1{
            @include txt-color-chic(1);
        }
        &__2{
            @include txt-color-chic(2);
        }
        &__3{
            @include txt-color-chic(3);
        }
    }
    h3{
    font-family: $lechicalafrancaise__typo;
    font-size: 3.5rem;
    }
    .img{
        width: 30%;
        height: auto;
        object-fit: contain;
        margin: 0;
    }
}

.lapalettedugout{
    @include menu-section(4);
    color: $primary-color-dark;
    h3{
    font-family: $lapalettedugout__typo;
    font-size: 4rem;
    color: $lapalettedugout__text--1;
    }
    .img{
    width: 30%;
    height: auto;
    object-fit: contain;
    margin: 0;
    }  
}

.ledelicedepapilles{
    @include menu-section(3);
    color: $primary-color-dark;
    h3{
    font-family: map-get($title-typo, 3);
    font-size: 4rem;
    color: $ledelicedespapilles__text--1;
    }
    .img{
    width: 30%;
    height: auto;
    object-fit: contain;
    margin: 0;
    }  
}




/* -----FOOTER-----*/

footer{
    @include flex;
    @include primary-setting;
    width: 3rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    a{
        color: inherit;
        &:hover {
            animation: wiggle 250ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3; //Nom de la Keyframe, durée, timing,itération
        }
    }

}

.legals,
.contact {
    a {
    height: 100%;
    &:hover {
        animation: wiggle 250ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3; //Nom de la Keyframe, durée, timing,itération
    }
    }
}

