@charset "UTF-8";

/* -------------------------------- */

/* _desktop.scss (grands écrans)    */

/* -------------------------------- */

@media (min-width: 64.063em){
    h1{
        font-size: 10rem;
    }
    .main-page{
        article{
            width: 40%;
            height: 70vh;
            
        }
        .btn{
            font-size: 3rem;
        }
    }
    .main-page,
    .menu-page{
            @include margin(desktop);
            h3{
                font-size: 4rem;
            }
    }

    main{
        .menu-page{
            @include padding(desktop);
        }
    }
}
/* Fin de @media (max-width: 64.063em) /* = min-width 1025px */



