@charset "UTF-8";

/* -------------------------------- */

/* _desktop.scss (grands écrans)    */

/* -------------------------------- */

@media (min-width: 64.063em){
    h1{
        font-size: 7rem;
    }
    .main-page{
        article{
            width: 40%;
            height: 70vh;
        }
        .btn{
            font-size: 3rem;
            width: 50vh;
        }
    }
    .main-page,
    .menu-page{
            @include padding(desktop);
    }
}
/* Fin de @media (max-width: 64.063em) /* = min-width 1025px */



