@charset "UTF-8";

/* -------------------------------------------------*/

/* _mobile.scss (des smartphones aux phablettes)    */

/* -------------------------------------------------*/
body:before {
    @include bandeau-resolution;
    content: "Version mobile";   
}

/* -----ACCUEIL-----*/   



h1{
    font-size: 2rem;
}

/* @media query optionnelle (max-width: 640px)*/
@media (max-width: 640px) {

} /* Fin de @media query optionnelle (max-width: 640px)*/
