@charset "UTF-8";

/* -------------------------------------------------*/

/* _mobile.scss (des smartphones aux phablettes)    */

/* -------------------------------------------------*/
body:before {
    @include bandeau-resolution;
    content: "Version mobile";   
}

/* -----ACCUEIL-----*/   
.block{
    width: 90%;
    height: 30rem;
    margin: 1rem;
}

.block img{
    width: 4rem;
    height: 4rem;
}


footer{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

/* @media query optionnelle (max-width: 640px)*/
@media (max-width: 640px) {

} /* Fin de @media query optionnelle (max-width: 640px)*/
