@charset "UTF-8";

/* ----------------------------- */

/* _molecules.scss (éléments génériques comme les titres/boutons/liens/paragraphes qu'on retrouvera sur le fichier molécules) */

/* ----------------------------- */

h1,
.h1-like {
    margin:auto;     
    line-height: 1.3126;
    font-weight: bold;
    font-size: 4rem;
    /* à déterminer selon les variables COULEURS du fichier _atomes */
    font-family: $primary-typo; /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}
h2,
.h2-like {
    margin: 0.75em 0 0 0;
    font-size: 2em;
    /* equiv 28px */
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 100;
    /* à déterminer selon les variables COULEURS du fichier _atomes */
    /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}
h3,
.h3-like {
    margin: auto;
    font-size: 1.7143em;
    /* equiv 24px */
    font-size: 3rem;
    line-height: 1.75;
    font-weight: 100;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
    /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}
h4,
.h4-like {
    margin: 1.05em 0 0 0;
    font-size: 1.4286em;
    /* equiv 20px */
    font-size: 2rem;
    line-height: 1.05;
    font-weight: 100;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
    /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}
h5,
.h5-like {
    margin: 1.1667em 0 0 0;
    font-size: 1.2857em;
    /* equiv 18px */
    font-size: 1.8rem;
    line-height: 1.1667;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
     /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}
h6,
.h6-like {
    margin: 1.3125em 0 0 0;
    font-size: 1.1429em;
    /* equiv 16px */
    font-size: 1.6rem;
    line-height: 1.3125;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
    /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}

a {
    /* à déterminer selon les variables COULEURS du fichier _atomes */
   /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
    text-decoration: none;
    margin: auto;
}

p {
    margin: auto;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
    /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px grey;
}


/* -----BOUTONS-----*/
@mixin button-general {

}

@mixin button-general-hover {
}

/* Ne pas oublier d'appeler la mixin dans les autres fichiers avec @include. exemple: a {@include button-general} */


/* Appliquer le hover quand l'appareil le permet */
@media (hover: hover) {
.button:hover {
  /* hover styles */
    @include button-general-hover {}
    }
}
