@charset "UTF-8";

/* ----------------------------- */

/* _molecules.scss (éléments génériques comme les titres/boutons/liens/paragraphes qu'on retrouvera sur le fichier molécules) */

/* ----------------------------- */

$acceuil-colors: (
    txt: $primary-color-text,
    bg: $primary-color-background,
    bg-light: $secondary-color
);



$colors: (
    lanoteenchantee-colors: (
        txt: $lanoteenchantee__text,
        bg: $lapalettedugout__background
    ),
    lechicalafrancaise-colors: (
        txt1: $lechicalafrancaise__text--1,
        txt2: $lechicalafrancaise__text--2,
        txt3: $lechicalafrancaise__text--3,
        bg: $lechicalafrancaise__background
    ),
    ledelicedespapilles-colors:(
        bg: $ledelicedespapilles__backrgound,
        txt1: $ledelicedespapilles__text--1,
        txt2: $ledelicedespapilles__text--2,
        txt3: $ledelicedespapilles__text--3
    ),
    lapalettedugout-colors:(
        bg: $lapalettedugout__background,
        txt1: $lapalettedugout__text--1,
        txt2: $lapalettedugout__text--2
    ),
);

$typo: (
    lanoteenchantee:(
        title: $lanoteenchantee__typo,
        txt: $lanoteenchantee__typo--secondary
    ),
    lechicalafrancaise: (
        title: $lechicalafrancaise__typo,
        txt: $lechicalafrancaise__typo--secondary
    ),
    ledelicedespapilles: (
        title: $ledelicedespapilles__typo,
        txt: $ledelicedespapilles__typo--secondary
    ),
    lapalettedugout: (
        title: $lapalettedugout__typo,
        txt: $lapalettedugout__typo--secondary
    ),
);


@mixin typo-title($title){
    @each $txt, $typography in $title{
        &:#{$txt}{
            font-family: map-get($typography, title);
        }
    }
}


@mixin menu-colors($restaurant){
    @each $menu, $color in $restaurant {
        &:#{$menu}{
        border: 0.1rem solid gray;
        box-shadow: 2rem 2rem 6rem gray;
        background-color: map-get($color, bg);
        color: map-get($color, txt1);
        }
    }
}


.block{
    &__lanoteenchantee{
        @include menu-colors(colors);
    }
    &__lechicalafrancaise{
        @include menu-colors(colors);
    }
}


.header{
    h1{
        color: map-get($acceuil-colors, txt);
        background-color: map-get($acceuil-colors, bg);
    }
}


h1,
.h1-like {
    margin:auto;     
    line-height: 1.3126;
    font-weight: 500;
    font-size: 4rem;
    /* à déterminer selon les variables COULEURS du fichier _atomes */
    font-family: $primary-typo; /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}
h2,
.h2-like {
    margin: 0.75em 0 0 0;
    font-size: 2em;
    /* equiv 28px */
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 100;
    /* à déterminer selon les variables COULEURS du fichier _atomes */
    /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}
h3,
.h3-like {
    margin: auto;/* equiv 24px */
    font-size: 4rem;
    line-height: 1.75;
    font-weight:100;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
    /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}
h4,
.h4-like {
    margin: 1.05em 0 0 0;
    font-size: 1.4286em;
    /* equiv 20px */
    font-size: 2rem;
    line-height: 1.05;
    font-weight: 100;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
    /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}
h5,
.h5-like {
    
    font-size: 1.6rem;
    line-height: 1.1667;
    margin: 0;
    padding: 0;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
     /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}
h6,
.h6-like {
    margin: 1.3125em 0 0 0;
    font-size: 1.1429em;
    /* equiv 16px */
    font-size: 1.6rem;
    line-height: 1.3125;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
    /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}

a {
    /* à déterminer selon les variables COULEURS du fichier _atomes */
   /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
    text-decoration: none;
    margin: auto;
}

p {
    margin: auto;
    font-size: 1.5em;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
    /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px grey;
}




/* -----BOUTONS-----*/
@mixin button-general{
    background: hsl(162, 28%, 48%);
    color: hsl(44, 97%, 63%);
    border: 1px hsl(162, 28%, 48%);
    font-size: 3rem;
    margin: 2rem auto;
    padding: 0.5rem 3rem;
    border-radius: 10px;
}

@mixin button-general-hover {
}

/* Ne pas oublier d'appeler la mixin dans les autres fichiers avec @include. exemple: a {@include button-general} */


/* Appliquer le hover quand l'appareil le permet */
@media (hover: hover) {
.button:hover {
  /* hover styles */
    @include button-general-hover {}
    }
}

@mixin section-border ($color: $primary-color-background){
    border: 1px solid $color;
    background: $color;
    margin: 1.2rem;
    padding: 1.5rem;
}
