@charset "UTF-8";

/* ----------------------------- */

/* _molecules.scss (éléments génériques comme les titres/boutons/liens/paragraphes qu'on retrouvera sur le fichier molécules) */

/* ----------------------------- */

h1{
    margin: auto;     
    line-height: 1.3126;
    font-weight: 700;
    font-size: 5rem;
}

h3{
    margin: auto;/* equiv 24px */
    font-size: 3.3rem;
    line-height: 1.75;
    font-weight:100;
    margin-bottom: 1rem;
}

h5{
    
    font-size: 2rem;
    line-height: 1.1667;
    margin: 0;
    padding: 0;
     /* à déterminer selon les variables COULEURS du fichier _atomes */
     /* à déterminer selon les variables TYPOGRAPHIE du fichier _atomes */
}

a {
    text-decoration: none;
    margin: auto;
    color: inherit;
    &:visited{
        color: inherit;
    }
}

p {
    margin: auto;
    font-size: 3rem;
}
/* -----BOUTONS-----*/
@mixin button-general{
    @include primary-setting;
    border: 1px $primary-color-background;
    font-size: 2rem;
    font-weight: lighter;
    margin: 2rem auto 9rem auto;
    padding: 0.5rem 3rem;
    border-radius: 10px;
}

/*keyframes*/

@keyframes wiggle {
    25% {
        transform: translateX($shake-intensity);
    }
    75% {
      transform: translateX($shake-intensity * -1);
    }
}