@charset "UTF-8";

/* ----------------------------------------------------------------- */

/* _tablet.scss (des tablettes aux ordinateurs portables/laptops)    */

/* ----------------------------------------------------------------- */
@media (min-width: 40.063em) {

    body:before {
        @include bandeau-resolution;
        content: "Version tablette";   
    }

    /* -----ACCUEIL-----*/

    h1{
        font-size: 7rem;
    }

    .main-page{
        flex-wrap: wrap;
        justify-content: space-around;
        article{
            margin: 2rem;
            width: 35%;
            height: 40vh;
            .img__logo--frontpage{
                width: 5rem;
            }
        }
    }

    main{
        padding: 5rem 10rem 10rem 10rem;
        .menu-page{
            @include padding(tablette);
            header{
                h3{
                    font-size: 5rem;
                }
            }
        }
    }
    
    .menu{
        margin: 1rem;
        div{
            
            h5{
                font-size: 3rem;
            }
        }
        ul{
            font-size: 2rem;
            
            li{
                text-align: left;
                margin: 0.6rem 0;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }

    .lanoteenchantee{
        header{
            .img{
                &__logo{
                    width: 7rem;
                }
            }
        }
    }

    footer{
        justify-content: space-between;
        align-items: center;
        height: 6rem;
        a{
            font-size: 3rem;
            margin: 0 10px;
        }
    }
}
/* Fin de @media (min-width: 40.063em)/* = min-width 641px */
